@inherits LayoutComponentBase
<HeadContent>
    <!-- Favicons -->
    <link href="/KellyTemplate/assets/img/favicon.png" rel="icon">
    <link href="/KellyTemplate/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/KellyTemplate/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/KellyTemplate/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/KellyTemplate/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/KellyTemplate/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/KellyTemplate/assets/css/main.css" rel="stylesheet">
</HeadContent>

<Header />
<main class="main">
    @Body
</main>
<Footer />
<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

@* <!-- Preloader -->
<div id="preloader"></div>
 *@
<!-- Vendor JS Files -->
<script src="/KellyTemplate/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/KellyTemplate/assets/vendor/php-email-form/validate.js"></script>
<script src="/KellyTemplate/assets/vendor/aos/aos.js"></script>
<script src="/KellyTemplate/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/KellyTemplate/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/KellyTemplate/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/KellyTemplate/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/KellyTemplate/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/KellyTemplate/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<!-- Main JS File -->
<script src="/KellyTemplate/assets/js/main.js"></script>
